body{
    background-color: rgb(68, 65, 65);
}
.wrapper{
    width: 600px;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns:  10fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
    background-color: #e2dede;
}
.mem-wrap{
    width: 600px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    grid-column: 1/6;
    grid-row: 1/2;
}
.mem{
    width: 2400px;
    height: 400px;
    background: url('./img/cat-banan.jpg') no-repeat center center;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    transition: 1s;
}
.mem1{
    width: 600px;
    background: url('./img/cat-banan.jpg') no-repeat center center;
    background-size:cover;
}
.mem2{width: 600px;
    background: url('./img/cat-snail.jpg') no-repeat center center;
    background-size:cover;
}
.mem3{width: 600px;
    background: url('./img/cat-butterfly.jpg') no-repeat center center;
    background-size:cover;
}
.mem4{width: 600px;
    background: url('./img/cat-dino.jpg') no-repeat center center;
    background-size:cover;
}

.sub-wrap{
    width: 200px;
    height: 50px;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 2/3;
}

.sub{
    color: black;
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    padding: 15px 0 15px 5px;
    font-size: 25px;
    color: purple;
    transition: 1s;
    
}
.sub-item{
    width: 200px;
}



label::before{ 
    content: ' ';
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    background: #455fd3;
    border-radius: 50%;
    padding-left: 5px;
    color: white;
    box-sizing: border-box;
    padding-bottom: 0;
    cursor: pointer;
}


.custom-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }
  
.custom-checkbox+label {
    display: block;
    align-items: center;
    user-select: none;
    width: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0; 
    line-height: 24px;
    cursor: pointer;
  }
  
.custom-checkbox:checked+label::before {
    background: #ffffff;
    border: 3px solid black;
}


#one:checked ~ .mem-wrap .mem { 
    margin-left: 0px;
}
#two:checked ~ .mem-wrap .mem { 
    margin-left: -600px;
}
#three:checked ~ .mem-wrap .mem { 
    margin-left: -1200px;
}
#four:checked ~ .mem-wrap .mem { 
    margin-left: -1800px;
}

#one:checked ~ .sub-wrap .sub { margin-left: 0px;}
#two:checked ~ .sub-wrap .sub { margin-left: -200px;}
#three:checked ~ .sub-wrap .sub { margin-left: -400px;}
#four:checked ~ .sub-wrap .sub { margin-left: -600px;}


.custom-checkbox+label:hover::before {
    background-color: white;  
} 
.custom-checkbox+label:active::before {
    background-color: #E6E1FF;
} 

@media (max-width: 480px) {
    .wrapper{
        width: 300px;
        height: 275px;
        margin-top: 30px;
        background-color: aqua;
        grid-template-columns:  1fr  1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .mem-wrap{
        grid-column: 1/5;
        grid-row: 1/2;
        width: 300px;
        height: 200px;
        border-radius: 5px;
    }
    .sub-wrap{
        width: 200px;
        height: 50px;
        overflow: hidden;
        grid-column: 1/5;
        grid-row: 3/4;
    }
    /************/
   
    .mem{
        width: 1200px;
        height: 200px;
    }
    .mem1{width: 300px;}
    .mem2{width: 300px;}
    .mem3{width: 300px;}
    .mem4{width: 300px;}
    
    
    .sub{
        color: black;
        width: 800px;
        height: 50px;       
    }
    .sub-item{
        width: 200px;
        font-size: 20px;
        color: purple;
    }
    
    
    #one:checked ~ .mem-wrap .mem { 
        margin-left: 0px;
    }
    #two:checked ~ .mem-wrap .mem { 
        margin-left: -300px;
    }
    #three:checked ~ .mem-wrap .mem { 
        margin-left: -600px;
    }
    #four:checked ~ .mem-wrap .mem { 
        margin-left: -900px;
    }
    
    #one:checked ~ .sub-wrap .sub { margin-left: 0px;}
    #two:checked ~ .sub-wrap .sub { margin-left: -200px;}
    #three:checked ~ .sub-wrap .sub { margin-left: -400px;}
    #four:checked ~ .sub-wrap .sub { margin-left: -600px;}
    
} 
  